
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header d-none">
        <h1>
            Welcome
            <small>Admin panel</small>
        </h1>
    </section>
</div>